.container {
  padding: 80px 280px;
}

.heading > h1 {
  font-size: 54px;
  font-weight: 600;
}

.accordiansDetails {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.accordiansDetails > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray-secondary);
  width: 38%;
}

.accordiansContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.accordianSummary {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding: 0px !important;
  color: var(--color-white) !important;
  background-color: var(--color-slight-gray) !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.accordianContainer {
  box-shadow: none !important;
  border-bottom: 1px solid #3d3d3d;
}

.accordianLastContainer {
  box-shadow: none !important;
}

.accordianDetails {
  font-size: 18px;
  font-weight: 500;
  line-height: 29.25px;
  text-align: left;
  padding-left: 0px !important;

  color: var(--color-gray-secondary) !important;
  background-color: var(--color-slight-gray) !important;
  border-color: var(--color-gray-secondary) !important;
}

.accordianContainer:first-child .accordianSummary {
  padding-top: 0px !important;
}

.accordianContainer:first-child .accordianSummary:first-child {
  margin-top: 0px !important;
}
