.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 40px;
  padding-bottom: 80px;
}

.header {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 80px;
}

.teamCards {
  display: flex;
  justify-content: center;
  gap: 50px 150px;
  flex-wrap: wrap;
}
