.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 32px 10%;
}

.contactNowButton {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent;
  width: 172px;
  height: 47px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
